<app-nav></app-nav>

<div *ngIf="subcategory">
  <h2>{{subcategory.name | uppercase}}</h2>
  <div><span class="details">id</span> : {{ subcategory.id}}</div>
  <div><span class="details">logo</span> : {{ subcategory.logo}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="subcategory.name" placeholder="name" class="form-control"/>
    </label>
    <label>logo:
      <input [(ngModel)]="subcategory.logo" placeholder="logo" class="form-control"/>
    </label>
  </div>
  <button (click)="goBack()" class="btn btn-warning">retour</button>
  <button (click)="save()" class="btn btn-primary">modifier</button>
  </div>