
<div *ngIf="user" class="profil">
    <div class="info">
        <div class="back">
                <img class="arrow" (click)="goBack()" src="../../assets/left-arrow.png">
        </div>
        <div class="avatar">
            <img src="{{user.avatar}}" id="image">
        </div>
        <div class="data">
            <div class="infoIRL">
                <p>Nom: {{ user.lastName }}</p>
                <p>Prenom: {{ user.firstName }}</p>
                <p>date de naissance: {{ user.birthday }}</p>
            </div>

            <div class="infoC">
                <p>email: {{ user.email }}</p>
                <p>password: {{ user.password }}</p>
            </div>
        </div>
    </div>
</div>

