<app-nav></app-nav>

<h1 class="h1">Gestion du service : Products</h1>

<table class="table table-striped table-bordered" style="width:100%">
  <thead>
      <tr>
          <th>Id</th>
          <th>Nom</th>
          <th>Description</th>
          <th>Prix</th>
          <th>Url</th>
          <th>Image</th>
          <th>Date</th>
          <th></th>
          <th></th>

      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let product of products | paginate: { itemsPerPage: 7, currentPage: pageActuel }">
            
                <td>{{product?.id}}</td>
                <td>{{product?.name}}</td>
                <td>{{product?.description}}</td>
                <td>{{product?.price}}</td>
                <td>{{product?.url}}</td>
                <td>{{product?.picture}}</td>
                <td>{{product?.createdAt}}</td>
                <td><a routerLink="/detail-product/{{product?.id}}"><span class="badge badge-secondary">Editer</span></a></td>
                <td><button class="btn btn-danger" title="delete product" (click)="delete(product)">Supprimer</button></td>
            
      </tr>
  </tbody>
  <tfoot>
      <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>Description</th>
        <th>Prix</th>
        <th>Url</th>
        <th>Image</th>
        <th>Date</th>
        <th></th>
        <th></th>
      </tr>
  </tfoot>
</table>

<pagination-controls (pageChange)="pageActuel = $event"></pagination-controls>

<div>
    <label>Nom:
        <input #productName class="form-control"/>
    </label>
    <label> description:
        <input #productDescription class="form-control"/>
    </label>
    <label>prix:
        <input #productPrice class="form-control"/>
    </label>
    <label>website:
        <input #productWebsite class="form-control"/>
    </label>
    <label>image:
        <input #productPicture class="form-control"/>
    </label>
    <label>date:
        <input #productDate class="form-control"/>
    </label>
    <label>sous-categorie:
        <input #productSubCategoryId class="form-control" list="browsers"/>
        <datalist id="browsers">
            <option *ngFor="let subcategory of subCategories" value="{{subcategory?.id}}">{{subcategory.name}}</option>
        </datalist>
    </label>

    <label>Entreprise:
        <input #productCompanyId class="form-control" list="brows"/>
        <datalist id="brows">
            <option *ngFor="let company of companies" value="{{company?.id}}">{{company.name}}</option>
        </datalist>
    </label>

    <button (click)="add(productName.value, productDescription.value, productPrice.value , productWebsite.value, productPicture.value, productDate.value, productSubCategoryId.value, productCompanyId.value)" productName.value='' productDescription.value='' productPrice.value='' productWebsite='' productPicture='' productDate='' class="btn btn-success">
        +
    </button>
</div>

