<h1 class="h1">Gestion du service : Entreprise</h1>


<div>
    <label>Nom:
        <input #companyName />
    </label>
    <label>Logo:
        <input #companyLogo />
    </label>
    <button (click)="add(companyName.value, companyLogo.value)" companyName.value='' companyLogo.value='' class="btn btn-success">
        +
    </button>
</div>

<table class="table table-striped table-bordered" style="width:100%">
  <thead>
      <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Logo</th>
          <th></th>
          <th></th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let company of companies">
            
                <td>{{company?.id}}</td>
                <td>{{company?.name}}</td>
                <td>{{company?.logo}}</td>
                <td><a routerLink="/detail-company/{{company?.id}}"><span class="badge badge-secondary">Editer</span></a></td>
                <td><button class="btn btn-danger" title="delete company" (click)="delete(company)">Supprimer</button></td>
            
      </tr>
  </tbody>
  <tfoot>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Logo</th>
        <th></th>
        <th></th>
      </tr>
  </tfoot>
</table>
