<app-nav></app-nav>

<div *ngIf="premium">
    <h2>{{premium.name | uppercase}}</h2>
    <div><span class="details">id</span> : {{ premium.id}}</div>
    <div><span class="details">prix</span> : {{ premium.price}}</div>
    <div><span class="details">durée</span> : {{ premium.time}}</div>
    <div class="input-group mb-3">
        <label>name:
          <input [(ngModel)]="premium.name" placeholder="name" class="form-control"/>
        </label>
      <label>prix:
        <input [(ngModel)]="premium.price" placeholder="price" class="form-control"/>
      </label>
      <label>durée:
        <input [(ngModel)]="premium.time" placeholder="time" class="form-control"/>
      </label>
    </div>
    <button (click)="goBack()" class="btn btn-warning">retour</button>
    <button (click)="save()" class="btn btn-primary">modifier</button>
</div>