<h1 class="h1">Gestion du service : Premium</h1>


<div>
    <label>Nom:
        <input #premiumName class="form-control"/>
    </label>
    <label> prix:
        <input #premiumPrice class="form-control"/>
    </label>
    <label>Durée:
        <input #premiumTime class="form-control"/>
    </label>

    <button (click)="add(premiumName.value, premiumPrice.value, premiumTime.value)" premiumName.value='' premiumPrice.value='' premiumTime.value='' class="btn btn-success">
        +
    </button>
</div>

<table class="table table-striped table-bordered" style="width:100%">
  <thead>
      <tr>
          <th>Id</th>
          <th>Nom</th>
          <th>Prix</th>
          <th>Durée</th>
          <th></th>
          <th></th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let premium of premiums">
            
                <td>{{premium?.id}}</td>
                <td>{{premium?.name}}</td>
                <td>{{premium?.price}}</td>
                <td>{{premium?.time}}</td>
                <td><a routerLink="/detail-premium/{{premium?.id}}"><span class="badge badge-secondary">Editer</span></a></td>
                <td><button class="btn btn-danger" title="delete premium" (click)="delete(premium)">Supprimer</button></td>
            
      </tr>
  </tbody>
  <tfoot>
      <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>Prix</th>
        <th>Durée</th>
        <th></th>
        <th></th>
      </tr>
  </tfoot>
</table>

