<div class="interest"> 
<h1>
  Choisissez vos centre d'intérêts
</h1>
 
  <ul *ngFor= "let category of categories">
    <h2>{{ category.name}}</h2>
    <li *ngFor= "let sub of category.subCategories; let i = index">
        <div class="choice">
          <input (change)="onToggle(sub)" type="checkbox" id="{{ sub.name }}" name="{{ sub.name }}" value="/api/sub_categories/{{ sub.id }}">
          <label for="{{ sub.name }}">{{ sub.name }}</label>
        </div>
    </li>
  </ul>
  <button (click)="patchInterest()" class="btn btn-primary"> Valider </button>
</div>

