<app-nav></app-nav>

<div *ngIf="user">
  <h2>{{user.name | uppercase}}</h2>
  <div><span class="details">id</span> : {{ user.id}}</div>
  <div><span class="details">email</span> : {{ user.email}}</div>
  <div><span class="details">password</span> : {{ user.password}}</div>
  <div><span class="details">Nom</span> : {{ user.lastName}}</div>
  <div><span class="details">Prenom</span> : {{ user.firstName}}</div>
  <div><span class="details">date de naissance</span> : {{ user.birthday}}</div>
  <div><span class="details">role</span> : {{ user.roles}}</div>
  <div><span class="details">avatar</span> : {{ user.avatar}}</div>
  <div><span class="details">creation</span> : {{ user.creation}}</div>

  <div class="input-group mb-3">
      <label>email:
        <input [(ngModel)]="user.email" placeholder="email" class="form-control"/>
      </label>
    <label>password:
      <input [(ngModel)]="user.password" placeholder="password" class="form-control"/>
    </label>
    <label>date de naissance:
      <input [(ngModel)]="user.birthday" placeholder="birthday" class="form-control"/>
    </label>
    <label>role:
      <input [(ngModel)]="user.roles" placeholder="roles" class="form-control"/>
    </label>
  </div>
  <button (click)="goBack()" class="btn btn-warning">retour</button>
  <button (click)="save()" class="btn btn-primary">modifier</button>
</div>