<ul *ngFor= "let category of categories" class="nav flex-column">
    {{ category.name}}
    <li class="nav-item" *ngFor= "let sub of category.subCategories; let i = index" >
        <button (click)="getSubProducts(sub.id)" class="btn btn-primary">{{ sub?.name}}</button>
    </li>
</ul>
<div *ngIf="product">
    <h2>{{product?.name}}</h2>
    <p>{{product?.description}}</p>
    <p>{{product?.price}}</p>
    <p>{{product?.url}}</p>
    <p>{{product?.picture}}</p> 
</div>  


    <div *ngFor= "let prod of products" class="nav flex-column">

        <div class="card" style="width: 18rem;">
            <img src="{{ prod.picture}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ prod.name}}</h5>
              <p class="card-text">{{ prod.description}}</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>


