.display
{
    width: 100%;
    height: 100%;
    display: grid;
    grid-auto-columns: 470px 1fr;
    grid-auto-flow: column;
    
    
}


nav
{
    display: grid;
    grid-auto-rows: 120px 1fr 100px;
    //background :#273c75;
    min-height: 100vh;

    .menu{
        margin-top: 5%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        flex-direction: column;
        border-right: 1px solid #c8d6e5;
    }
    
    .logo{
        background-color: #c0392b;
        display: flex;
        justify-content: center;
        align-items: center;
        #dayliz{
            width: 80px;
            height: 80px;
            
        }
    }

    
    
    .categories
    {
        min-width: 300px;
        h3{
            color:#5482FF ;
        }
        
        img{
            margin-right: 5px;
        }
    }
    .subcategories
    {
        list-style-type:none;
        cursor: pointer;
    }

    .option{
        cursor: pointer;
        text-align: center;
        min-width: 300px;
        img{
            border-radius: 100%;
            width: 80px;
            height: 80px;
        }

        img:hover{
            opacity: 0.5;
        }
    }
}


.content
{
    display: grid;
    grid-auto-rows: 120px 1fr;
    grid-auto-flow: row;
}

.interest
{
    display : flex;
    flex-flow: row;
    background-color: #c0392b;
    .bulle{
        text-align: center;
        padding-left: 40px;
        padding-top: 15px;
        font-weight: bold;
        cursor: pointer;
        img{
        
            border-radius: 100%;
            width: 75px;
            height: 75px;
            border : 2px;
            
        }
        img:hover{
            width: 77px;
            height: 77px;
            opacity: 0.5;
        }
    }
    
    
}

.window
{
    position: relative;
    
    display: grid;
    grid-auto-columns: 1fr 470px;
    grid-auto-flow: column;
    
}


.default
{
    
    .carding{
        display: grid;
        grid-auto-rows: 1fr 1fr;
        grid-auto-flow: row;
        margin-top : 5%;
        margin-left: 5%;

        .card-top{
            display: grid;
            grid-auto-columns: 300px 1fr;
            grid-auto-flow: column;
        }
        .card-title{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 40px;    
            
        }
        .card-description{
            text-align: justify;
            margin: 7%;
        }
        .card-price{
            font-size: 40px;
        }
        .card-url{
            
            display: flex;
            justify-content: center;
            margin-right: 10%;
            width: 100px;
            height:50px;
            padding-top : 10px;
            padding-bottom: 10px;
            padding-right: 40px;
            padding-left: 40px;
            border-radius: 15%;
            color :white;
            background-color: #c0392b;
            
            
        }        
        img{
            max-width: 300px;
            max-height: 300px;
            min-width: 300px;
            min-height: 300px;
        }
        
    }

}

.comment{
    display: grid;
    grid-auto-rows: 1fr 200px;
    grid-auto-flow: row;
    min-height: 100%;
    border-left: 1px solid #c8d6e5;
    .wall{
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        max-height: 550px;
        overflow-y:auto;
    }
    .form-message{
        
        display: flex;
        justify-content: center;
        button{
            background-color:#c0392b;
            color: white; 
            border-color:#c0392b ;
        }
        textarea{
            border-radius: 5%;
        }
    }
}

.message{
    display: grid;
    grid-auto-rows: 25px 1fr;
    grid-auto-flow: row;
    background-color: #5482FF;
    border: solid 1px #5482FF;
    border-radius : 5px;
    max-width: 90%;
    width: 400px;
    margin-top : 20px;

    .headermessage{
        display: grid;
        grid-auto-columns: 100px 1fr;
        grid-auto-flow: column;
        .datemessage{
            
        }
        .writtermessage{
            text-align: right;
        }
        .contentmessage{}
    }


}