<button  class="btn btn-primary">Mon bouquet</button>


<ul *ngFor= "let category of categories" class="nav flex-column">
    {{ category.name}}
    <li class="nav-item" *ngFor= "let sub of category.subCategories; let i = index" >
        <a (click)="getSubProducts(sub.id)" class="nav-link active">{{ sub?.name}}</a>
    </li>
</ul>
<div *ngIf="product">
    <h2>{{product?.name}}</h2>
    <p>{{product?.description}}</p>
    <p>{{product?.price}}</p>
    <p>{{product?.url}}</p>
    <p>{{product?.picture}}</p> 
</div>  


<ul *ngFor= "let prod of products" class="nav flex-column">

    <p style="color : red">{{ prod.name}}</p>
</ul>