/* You can add global styles to this file, and also import other style files */


    
*{
    margin: 0;
    padding: 0;
}



body{

    background-color: #afcbe7;
    font-family: 'Roboto', sans-serif;

}

main {
    width: 960px;
    margin: auto;

}

#intro{
    float: right;
    width: 49%;
    text-align: center;
    border-left: 2px white solid;
}

h1{
    font-size: 150px;
    text-align: center;
    font-weight: bold;
    color: white;
    font-family: 'Pacifico', cursive;
    margin-bottom:40px;
    margin-top: 40px;
}

#paraph{
    float: left;
    width: 49%;
    font-size: 17px;
    color : black;
}

a {
    text-decoration: none;
}

