

<main>
  <div class="container-fluid">
      <div class="row">
          <div class="col-8">
              <h1>Dayliz</h1>
              <p>Caxime antea dierum hac Ergo multa cumulus pertinerent hominis tributus tributus causa cumulus ad cum idem decreverim publicae rei.</p>
          </div>
          <div class="col-4">
            <button type="button" class="btn btn-primary btn-lg" routerLink="/login"><p>Connexion</p></button>
            <button type="button" class="btn btn-secondary btn-lg" routerLink="/register"><p>Inscription</p></button>
          </div>
      </div>
  </div>
  
  


      

  
</main>