<div class="d-flex justify-content-center">
  <h1>Panel d'administration</h1>
</div>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLink="/backend/companies">Entreprises</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/backend/premiums">Premiums</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" routerLink="/backend/categories">Catégories</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/backend/subcategories">Sous-Catégories</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/backend/users">Utilisateurs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/backend/promotions">Promotions</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/backend/products">Produits</a>
  </li>
</ul>
